body{
    background: linear-gradient(#101010, #202020);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url(assets/images/image.png);
}

h1{
    text-align: center;
    margin-top: 50px;
}

.title{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.subtitle{
    text-align: center;
    margin-bottom: 50px;
}

.links{
    text-align: center;
}

a{
    text-align: center;
    color: #60e7ff;
}

a:visited{
    color: #60ffc2;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #202020;
    padding: 20px;
}

.navbar h1{
    text-align: left;
    margin: 0px;
}

.logo{
    display: inline;
}

.dropdown button{
    background-color: #797979;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .contentdrop{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 35%);
    min-width: 100px;
}

.dropdown:hover .contentdrop{
    display: block;
}

.dropdown a:hover{
    background-color: #797979;
    transition: 0.2s;
}