body{
    background: linear-gradient(#101010, #202020);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1{
    text-align: center;
    margin-top: 50px;
}

.subtitle{
    text-align: center;
    margin-bottom: 50px;
}

.links{
    text-align: center;
}

a{
    text-align: center;
    color: #60e7ff;
}

a:visited{
    color: #60ffc2;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 20px;
}

.navbar h1{
    text-align: left;
    margin: 0px;
}

.navbarlinks ul li{
    display: inline;
    margin-right: 20px;
}

.navbarlinks a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navbarlinks a:hover{
    background-color: #525252;
    border-radius: 10px;
    transition: 0.2s;
}